*{
    margin: 0px;
    padding:0px;
}
body{
    background-color:#000000;
}
.background{
    position:absolute;
    margin-top: 0px;
    background-image: url(/assets/images/bg.jpg);
    background-position: center;
    height:813px;
    opacity: 0.4;
    background-repeat: no-repeat;
    width:100vw;
    background-size:cover;
    z-index: -1;
}

header span img{
   
    /* background-color:yellow; */
    height:50px;
    width: 200px;
}
header{
    /* border: transparent; */
    /* margin-top: 600px; */
    padding-top: 16px;
    /* width: 70vw; */
    display: flex;
   align-items: center;
   justify-content: center;
    
   
    
}
header div{
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
.btnred{
       background-color: red;
    color: white;
    text-align: center;
    border:transparent;
    border-radius: 3px;
    
    
    font-size: 15px;
    font-weight:bold;
}
.button{
    
    
    height:32px;
    width:76px;
  
}
.buttoninput{
    height:55px;
    width: 170px;
    font-size: 20px;
    margin:15px 15px 0 10px;
}
.btn{
    margin:0 0 0 5px;
    text-align: center;
    background-color:rgba(49, 48, 48, 0.678);
    
    border: 1px solid rgba(255, 255, 255, 0.727);
    
    color: white;
     
    
    border-radius: 3px;
  
    font-size: 17px;
}
.input{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input::placeholder{
    color: white;
    opacity: 0.7;
    text-align: left;
    padding-left: 15px;
}
 .btnsize{
      height:30px;
    width:115px;
 }
 .btnsizeinput{
    height:55px;
     margin:15px 15px 0 10px;

    width:530px;
    
 }
header div span:nth-child(2){
    display: flex;
    /* flex: 0 1 auto; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}

span select option:nth-child(n){
    color:black;
}

.herosection{
    min-height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 20px 0 20px; */
    padding: 0px 30px 0px 30px;
}

.maintext{
     height:160px;
    width: 660px;
    /* margin-bottom: 50px; */
}
.herosection .maintext h1{
    color: white;
    font-size:65px;
    text-align: center;
}
.para{
    margin:17px 0 25px 0;
    color: white;
    font-size:23px;
    text-align: center;
    /* font-weight: 300px; */
}
.para h4{
    margin-top:50px;
    font-size:19px;
}

.seperation{
    
    height:10px;
    /* margin-top:800px; */
    background-color: rgba(255, 0, 0, 0.355);

}
.main{
    /* width:1920px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:10px 208px 0 208px;
    margin: 10px 100px 10 100px
    
}
.main h2{
    margin: 20px 0 20px 0;
    color:white;
    width:1212px;
    height:20px;
}
.scroll{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-items: left; */
    width:1200px;
    overflow-y: hidden;
    overflow-x: auto;
    
}
/* .scroll::-webkit-scrollbar {
    display: none; /* The core property to hide the scrollbar */
 

  
span.cards{
    height:262px;
    width:190px;
    margin:20px;
    padding: 5px;
    
}

span img{
    
    border-radius: 10px;
    margin:5px;
    padding: 2px;

}
.reasons{
    display: flex;
    gap:15px;
    margin: 25px 0 20px 0 ;
    width:1200px;
    justify-content: center;
}
.reason{
    padding:5px 20px 5px 20px;
    border-radius:10px;
    /* border: 10px solid white; */
    height:300px;
    width: 274px;
    color:rgb(255, 255, 255);
    background-color:#1f1528 ;
}
.reason div h3{
    margin:35px 0 20px 0;
    font-size: 29px;
    
}
.reason p{
    font-size: 19px;
    opacity: 0.7;
}
  .questions{
        /* width:70%; */
        width: 1200px;
        display: flex;
        flex-direction: column;

    }
    .questions h2{
        font-size: 33px;
        
        /* margin: 0px 0px 20px 0px; */
        padding: 0px 0px 20px 0px;
    }
    .questions button{
        height: 90px;
        background-color:#2d2d2d;
        border: none;
        padding:0 0 0 20px;
        margin: 0 0 7px 0;
        color:white;
        opacity: 0.9;
        font-size: 25px;
        text-align: left;

    }
    footer{
        margin:50px 0 0 0 ;
        width:100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        opacity: 0.85;
        height: 500px;
    }

footer .text{
    width:1200px;
}
    
footer .text div{
        font-size:18px;
        color: rgb(255, 255, 255);
        margin: 5px 0 50px 0;
        padding: 0;
    }


.list{
    columns:4;
    column-gap: 15px;
    
    
}
.list li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    /* margin:5px 0 0 0; */
    /* padding:5px 0 0 0; */
    /* gap: 2px; */
    cursor: pointer;
    text-decoration:underline;
}
.list li {
    /* color: red; */
    margin-bottom: 20px;
}










@media screen and (max-width: 1100px) {
    .background {
        
  
        height:694px;
        
        
    }
header div{
    
    width: 90vw;
}

.herosection{
        min-height: 630px;
        
    
}

.maintext{
       height:90px;
    width: 400px;

}
.herosection .maintext h1{
    /* color: white; */
    font-size:30px;
}
.para{
   
    font-size:17px;
    /* font-weight: 300px; */
}



header span img{
   
    /* background-color:yellow; */
    height:30px;
    width: 120px;
}


 .btnsizeinput{
   
    width:90vw;
    
 }

 .input{
   
    
    flex-direction: column;
    align-items: center;
    
}

.scroll{
    
    width:90vw;
  
    
}
span .cards{
     height:242px;
    width:140px;
    margin:20px;

}

.reasons{
    max-width: 95vw;
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
}
.reason{
    
    border-radius:10px;
    /* border: 10px solid white; */
    /* min-height:100px; */
    max-height:170px;
    width: 90vw;
   
}
.questions{
    max-width: 95vw;
}

footer .text{
    /* width:1200px; */
    width: 95vw;
}



}



@media screen and (max-width: 310px) {

header div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
}

header div span:nth-child(2){
    display: flex;
    flex-wrap: wrap;
 
    
    
}
.herosection{
    min-height: 570px;

}
.reason{
    max-height:230px;
}
span .cards{
     height:100px;
    width:40px;
    margin:15px;

}


}